<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/brand-nav-bard.png" alt="Logo" width="75" height="75" class="d-inline-block">
            Alarmas
        </a>
        <div class="" id="navbarText">
            <img src="../../assets/Account Icon.png" alt="account" class="d-inline-block">
            <button class="btn btn-secondary" id="logout-btn">Logout</button>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-secondary btn-detail">Volver</button>
        </div>
        <div class="col-4 text-left">
            <h1 class="report-title">Reporte</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr/>
        </div>
    </div>
    <div class="row row-graph">
        <div class="card card-alarma">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h2 class="card-title text-center">Tiempo de Espera para Desactivar la Alarma</h2>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary btn-graph">7 Días</button>
                            <button type="button" class="btn btn-secondary btn-graph">Mes</button>
                            <button type="button" class="btn btn-secondary btn-graph">Año</button>

                        </div>
                    </div>
                </div>
                <img class="card-img-top" src="../../assets/graph.png" alt="Card image cap">
            </div>
        </div>
    </div>

    <div class="row row-graph">
        <div class="card card-alarma">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h2 class="card-title text-center">Tiempo de Espera para Desactivar la Alarma</h2>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary btn-graph">7 Días</button>
                            <button type="button" class="btn btn-secondary btn-graph">Mes</button>
                            <button type="button" class="btn btn-secondary btn-graph">Año</button>

                        </div>
                    </div>
                </div>
                <img class="card-img-top" src="../../assets/graph.png" alt="Card image cap">
            </div>
        </div>
    </div>
</div>