<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/brand-nav-bard.png" alt="Logo" width="75" height="75" class="d-inline-block">
      Alarmas
    </a>
    <div class="" id="navbarText">
      <img src="../../assets/Account Icon.png" alt="account" class="d-inline-block">
      <button class="btn btn-secondary" id="logout-btn">Logout</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <input type="search" class="custom-search" placeholder="Buscar">
  </div>
  <div class="row justify-content-md-center">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top image-card" src="../../assets/Map.png" />
        <div class="card-body">
          <p class="card-title">Gym Lunes</p>
          <div class="d-flex">
            <p class="alarm-card" style="margin-right: 7px !important;">18/09/23</p>
            <p class="alarm-card">06:00</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>