#logout-btn {
  width: 150px;
  margin-right: 50px;
}

.card {
  padding: 10px !important;
  border-radius: 20px !important;
  width: 250px !important;
  height: 275px !important;
}

.card-body {
  padding: 0px !important;
  margin-top: 12px
}

.card-title {
  font-weight: bold;
  font-size: 32px;
}

.custom-search {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.image-card {
  width: 225px !important;
  height: 150px !important;
}

.alarm-card {
  width: 110px;
  height: 50px;
  outline-style: solid;
  outline-color: #CFEBDF;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  border-radius: 15px !important;
}