/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EDEFE3;
}

.btn-primary {
  background-color: #DBEA8D !important;
  border-color: #DBEA8D !important;
  color: #000 !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
}

.btn-secondary {
  background-color: #CFEBDF !important;
  border-color: #CFEBDF !important;
  color: #000 !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
}

.form-label {
  font-size: 32px !important;
  font-weight: 500 !important;
}

input {
  font-size: 24px !important;
  border: 2px solid black !important;
    border-radius: 10px !important;
    background-color: #EDEDED !important;
}

.modal-footer {
  border: 0 !important;
}
.navbar {
  background-color: #1C8023 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

nav div a {
  color: white !important;
  font-size: 36px !important;
  font-weight: bold;
}