<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/alarmas">
            <img src="../../assets/brand-nav-bard.png" alt="Logo" width="75" height="75" class="d-inline-block">
            Alarmas
        </a>
        <div class="" id="navbarText">
            <img src="../../assets/Account Icon.png" alt="account" class="d-inline-block">
            <button class="btn btn-secondary" id="logout-btn" routerLink="/login">Logout</button>
        </div>
    </div>
</nav>